{% extends 'base-admin.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <h1 class="text-title text-terracotta">Liste des produits</h1>

    <table class="table">
        <thead class="text-terracotta">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.label }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.isActif }}</td>
                <td>
                    <a class="btn btn-white" href="{{ path('app_admin_product_show', {'id': product.id}) }}"><i class="fa-solid fa-eye text-pink"></i></a>
                    <a class="btn btn-white" href="{{ path('app_admin_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pen text-pink"></i></a>
                    {# supprimer le produit #}
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal_{{ product.id  }}">
                        <i class="fa-solid fa-minus text-pink"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal_{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-grey" id="exampleModalLabel">Confirmer la suppression de {{ product.label }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" href="{{ path('app_admin_product_delete', {'id': product.id})}}">Oui</a>
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Non</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination text-terracotta">
        {{ knp_pagination_render(pagination, "@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig") }}
    </div>

    <a class="text-decoration-none btn btn-terracotta" href="{{ path('app_admin_product_new') }}">
    <i class="fa-solid fa-plus text-white"></i> Créer</a>
{% endblock %}

