{% extends 'base-admin.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 class="text-title text-terracotta">Produit <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pen text-pink"></i></a></h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="text-terracotta">Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th class="text-terracotta">Prix total</th>
                <td>{{ product.label }}</td>
            </tr>
            <tr>
                <th class="text-terracotta">#</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th class="text-terracotta">Date de création</th>
                <td>{{ product.stock}}</td>
            </tr>
            <tr>
                <th class="text-terracotta">Statut</th>
                <td>{{ product.isActif }}</td>
            </tr>
        </tbody>
    </table>

        <a class="text-decoration-none btn btn-terracotta" href="{{ path('app_admin_product_index') }}"><i class="fa-solid fa-arrow-left-long text-white"></i> Retour à la liste</a>

{% endblock %}
