{% extends 'base-front.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container mt-4">
        <div class="row">
            {# hello personnalisé #}
            <div class="col-6">
                <h1 class="text-title text-pink">Bonjour {{ user.firstname }} <i class="fa-solid fa-heart"></i></h1>
            </div>
             {# pour logout #}
            <div class="col-6 text-end">
                <a class="btn btn-pink text-decoration-none" href="{{ path('app_logout') }}">
                    Se déconnecter</i>
                </a>
            </div>
            <hr class="text-pink">
            <div class="col-6">
                <h1 class="text-title text-terracotta">Mes infos</h1>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-terracotta" href="{{path('app_profil_edit')}}">
                    Modifier mon compte
                </a>
            </div>
            <div class="col-12 profil-content text-start">
                <div>
                    <div class="text-title text-terracotta">Nom :</div>
                    <span> {{ user.lastname }}</span>
                </div>
                <div>
                    <div class="text-title text-terracotta">Prénom :</div>
                    <span> {{ user.firstname }}</span>
                </div>
                <div>
                    <div class="text-title text-terracotta">Email :</div>
                    <span> {{ user.email }}</span>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}