{% extends 'base-admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1 class="text-title text-terracotta">Liste des catégories</h1>

    <table class="table">
        <thead class="text-terracotta">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.label }}</td>
                <td>
                    {# voir le détail de la catégorie #}
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}"><i class="fa-solid fa-eye text-pink"></i></a>
                    {# modifier la la catégorie #}
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"><i class="fa-solid fa-pen text-pink"></i></a>
                </td>
            </tr>
        {# si aucune catégorie #}
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# créer une nouvelle catégorie #}
    <a class="text-decoration-none btn btn-terracotta" href="{{ path('app_admin_category_new') }}">
    <i class="fa-solid fa-plus text-white"></i> Créer
    </a>
{% endblock %}
