<div class="card border-terracotta bg-terracotta ">
    {# {% if product.productPictures.path is defined %} #}
        <a class="text-decoration-none" href="">
            <div class="image-container">
                <img src="{{asset('build/images/products/chien_bandana.jpg')}}" class="card-img-top mx-auto text-white" alt="{{product.label}}">
            </div>
        </a>
    {# {% endif %} #}
    <div class="card-body">
    <div class="card-text row">
        <div class="card-title-container d-flex justify-content-around">
            <p class="text-white text-title">{{product.label | capitalize}}</p>
            <p class="text-green text-title">{{product.price}}€</p>
        </div>
        {# <p> {{get_stars_for_game(game) | raw}}</p> #}
        <div class="btn-container justify-content-center">
            <a href="{{path('app_basket_add',{'product_id': product.id})}}" class="btn btn-pink"><i class="fa-solid fa-basket-shopping"></i></a>
        </div>
    </div>
    </div>
</div>